.site-head {
  min-width: 1152px;
  height: 150px;
}
.site-head .topbar {
  min-width: 1152px;
  height: 32px;
  background-color: #2A2A2A;
  color: white;
  line-height: 32px;
}
.site-head .topbar a {
  color: white;
}
.site-head .topbar .shortcut-links {
  float: left;
}
.site-head .topbar .shortcut-links > ul > li {
  float: left;
  margin-right: 18px;
  font-size: 14px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu {
  padding-right: 12px;
  position: relative;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  transition: all 0.2s;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow b {
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 6px;
  background-color: #fff;
  transform: rotate(45deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu .arrow i {
  position: absolute;
  left: 4px;
  top: -1.5px;
  width: 6px;
  height: 6px;
  background-color: #2A2A2A;
  transform: rotate(45deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu:hover > .arrow {
  transform: rotate(180deg);
}
.site-head .topbar .shortcut-links > ul > li.have-menu:hover > .menu {
  display: block;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 999;
  display: none;
  padding-top: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list li {
  height: 20px;
  line-height: 20px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list li a {
  font-size: 12px;
  color: #1C1F21;
  line-height: 20px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .menu .menu-list li a:hover {
  color: orange;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .sqmenu {
  width: 110px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .scmenu {
  width: 80px;
}
.site-head .topbar .shortcut-links > ul > li.have-menu .jdmsmenu {
  width: 80px;
}
.site-head .topbar .topbar-r {
  float: right;
  width: 225px;
}
.site-head .topbar .topbar-r a {
  margin-right: 11px;
  font-size: 15px;
}
.site-head .topbar .topbar-r a:last-child {
  margin-right: 0px;
}
.site-head .topbar .topbar-r span {
  margin-right: 11px;
  font-size: 15px;
}
.site-head .main-nav {
  min-width: 1152px;
  height: 40px;
  background-color: #20BD9A;
}
.site-head .main-nav ul li {
  position: relative;
  float: left;
  margin-right: 18px;
}
.site-head .main-nav ul li a {
  line-height: 40px;
  color: white;
  font-size: 16px;
}
.site-head .main-nav ul li .menu {
  position: absolute;
  top: 35px;
  left: 0px;
  z-index: 999;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding: 10px;
}
.site-head .main-nav ul li .menu dl dt {
  font-size: 16px;
}
.site-head .main-nav ul li .menu dl dd a {
  font-size: 12px;
  color: #1C1F21;
  line-height: 20px;
}
.site-head .main-nav ul li .menu dl dd a:hover {
  color: orange;
}
.site-head .main-nav ul li:hover > .menu {
  display: block;
}
.site-head .main-nav ul li .jjzyxmenu {
  width: 150px;
}
.site-head .main-nav ul li .gtymenu {
  width: 90px;
}
.site-head .main-nav ul li .ddwlmenu {
  width: 190px;
}
.site-head .main-nav ul li .sdlymenu {
  width: 160px;
}
.site-head .main-nav ul li.have-menu {
  padding-right: 16px;
  position: relative;
}
.site-head .main-nav ul li.have-menu ::before {
  content: '';
  position: absolute;
  right: 0;
  top: 18px;
  width: 0px;
  height: 0px;
  border: 5px solid transparent;
  border-bottom: none;
  border-top-color: white;
  transition: transform 0.5s ease 0s;
}
.site-head .main-nav ul li.have-menu:hover > ::before {
  transform: rotate(180deg);
}
.site-head .header-con {
  min-width: 1152px;
  height: 36px;
  padding: 21px 0;
}
.site-head .header-con h1 {
  float: left;
  font-size: 24px;
  color: #20BD9A;
  line-height: 36px;
  font-weight: bold;
}
.site-head .header-con .soso-box {
  float: left;
  margin-left: 20px;
  width: 405px;
  padding-top: 2px;
}
.site-head .header-con .soso-box input {
  float: left;
  width: 361px;
  height: 28px;
  border: 1px solid #20BD9A;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  outline: none;
  padding-left: 10px;
}
.site-head .header-con .soso-box .btn {
  float: left;
  width: 32px;
  height: 30px;
  background-color: #20BD9A;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
}
.banner {
  position: relative;
  overflow: hidden;
}
.banner .carousel_list {
  width: 600%;
  overflow: hidden;
  transition: transform 0.5s ease 0s;
}
.banner .carousel_list li {
  float: left;
  width: 16.666%;
}
.banner .carousel_list li img {
  width: 100%;
  vertical-align: middle;
}
.banner .center-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 1152px;
  left: 50%;
  margin-left: -576px;
  height: 100%;
}
.banner .center-wrap .leftbtn {
  position: absolute;
  width: 48px;
  height: 44px;
  background: url(../images/icons.png) no-repeat -21px -94px;
  top: 50%;
  left: -38px;
  transform: translateY(-50%);
}
.banner .center-wrap .leftbtn:hover {
  opacity: 0.6;
}
.banner .center-wrap .rightbtn {
  position: absolute;
  width: 48px;
  height: 44px;
  background: url(../images/icons.png) no-repeat -21px -29px;
  top: 50%;
  right: -38px;
  transform: translateY(-50%);
}
.banner .center-wrap .rightbtn:hover {
  opacity: 0.6;
}
.banner .center-wrap .banner-nav {
  height: 100%;
  width: 652px;
  position: relative;
}
.banner .center-wrap .banner-nav > ul {
  height: 100%;
}
.banner .center-wrap .banner-nav > ul > li {
  position: relative;
  height: 16.66%;
  width: 296px;
  background-color: rgba(0, 0, 0, 0.53);
  border-bottom: 1px solid #9e9e9e;
  box-sizing: border-box;
}
.banner .center-wrap .banner-nav > ul > li:last-child {
  border-bottom: none;
}
.banner .center-wrap .banner-nav > ul > li dl {
  position: absolute;
  height: 48px;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  color: white;
}
.banner .center-wrap .banner-nav > ul > li dl dt {
  font-size: 18px;
  line-height: 26px;
  height: 26px;
}
.banner .center-wrap .banner-nav > ul > li dl dd {
  font-size: 16px;
  line-height: 22px;
  height: 22px;
}
.banner .center-wrap .banner-nav > ul > li::before {
  content: '';
  position: absolute;
  background: url(../images/icons.png) no-repeat;
  top: 50%;
  left: 10px;
}
.banner .center-wrap .banner-nav > ul .hot::before {
  width: 22px;
  height: 18px;
  background-position: -29px -399px;
  transform: translateY(-50%);
}
.banner .center-wrap .banner-nav > ul .hk::before {
  width: 18px;
  height: 21px;
  background-position: -28px -217px;
  transform: translateY(-50%);
  left: 13px;
}
.banner .center-wrap .banner-nav > ul .jp::before {
  width: 24px;
  height: 19px;
  background-position: -25px -171px;
  transform: translateY(-50%);
}
.banner .center-wrap .banner-nav > ul .as::before {
  width: 18px;
  height: 19px;
  background-position: -28px -262px;
  left: 12px;
  transform: translateY(-50%);
}
.banner .center-wrap .banner-nav > ul .eu::before {
  width: 20px;
  height: 14px;
  background-position: -29px -351px;
  left: 11px;
  transform: translateY(-50%);
}
.banner .center-wrap .banner-nav > ul .au::before {
  width: 18px;
  height: 17px;
  background-position: -28px -305px;
  left: 12px;
  transform: translateY(-50%);
}
.banner .center-wrap .banner-nav > ul .current {
  background-color: rgba(0, 0, 0, 0.63);
}
.banner .center-wrap .banner-nav .menus-box .menu {
  display: none;
  position: absolute;
  left: 296px;
  top: 0;
  width: 356px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  padding: 16px;
  box-sizing: border-box;
  z-index: 99999;
}
.banner .center-wrap .banner-nav .menus-box .menu a {
  color: white;
}
.banner .center-wrap .banner-nav .menus-box .menu dl {
  margin-bottom: 16px;
}
.banner .center-wrap .banner-nav .menus-box .menu dl dt {
  line-height: 30px;
  font-size: 18px;
}
.banner .center-wrap .banner-nav .menus-box .menu dl dd {
  line-height: 25px;
  font-size: 15px;
}
.banner .center-wrap .banner-nav .menus-box .current {
  display: block;
}
.banner .circle {
  width: 160px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.banner .circle li {
  float: left;
  width: 20px;
  height: 20px;
  background-color: #34E3BC;
  margin-right: 10px;
  border-radius: 10px;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.banner .circle li:last-child {
  margin-right: 0;
}
.banner .circle .current {
  width: 40px;
  background-color: #20BD9A;
}
.hot-ads {
  margin-top: 32px;
  margin-bottom: 32px;
}
.hot-ads ul li {
  float: left;
  width: 264px;
  height: 110px;
  margin-right: 32px;
}
.hot-ads ul li:last-child {
  margin-right: 0;
}
@keyframes ud {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
.content-part .hd h2 {
  float: left;
  font-size: 32px;
  font-weight: bold;
  color: #1C1F21;
}
.content-part .hd em {
  float: left;
  position: relative;
  top: 20px;
  left: 10px;
  color: #1C1F21;
}
.content-part .hd nav {
  float: right;
  width: 500px;
}
.content-part .hd nav ul li {
  float: left;
  margin-right: 16px;
  font-size: 14px;
}
.content-part .hd nav ul li:last-child {
  margin-right: 0;
}
.content-part .hd nav ul li a {
  color: rgba(0, 0, 0, 0.85);
}
.content-part .hd nav ul .current {
  border-bottom: 4px solid #20BD9A;
  padding-bottom: 4px;
}
.content-part .hd nav ul .current a {
  color: #20BD9A;
}
.content-part .more-grid {
  width: 264px;
  height: 270px;
  box-sizing: border-box;
  position: relative;
}
.content-part .more-grid:hover .iconfont {
  animation: ud 0.4s ease 0s infinite alternate;
}
.content-part .more-grid ul {
  margin-top: 112px;
  padding-left: 40px;
}
.content-part .more-grid ul li {
  float: left;
  color: white;
  border-right: 1px solid white;
  padding: 0 9px ;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.content-part .more-grid ul li:last-child {
  border-right: none;
}
.content-part .more-grid a {
  display: block;
  height: 270px;
  padding-top: 46px;
  box-sizing: border-box;
}
.content-part .more-grid p {
  text-align: center;
  color: white;
  line-height: 24px;
  font-size: 15px;
}
.content-part .more-grid .iconfont {
  position: absolute;
  font-size: 48px;
  color: white;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 118px;
  margin-left: -24px;
}
.content-part img {
  transition: transform 0.4s ease 0s;
}
.content-part img:hover {
  transform: scale(1.1);
}
.content-part li {
  overflow: hidden;
}
.content-part .grid {
  overflow: hidden;
}
.content-part .picbox {
  overflow: hidden;
}
.xxsw {
  padding-top: 40px;
  height: 698px;
  background-color: #F7F7F7;
}
.xxsw .hd {
  margin-bottom: 32px;
}
.xxsw ul li {
  float: left;
  width: 264px;
  height: 270px;
  margin-right: 32px;
  background: white;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.xxsw ul li:nth-child(4n) {
  margin-right: 0;
}
.xxsw ul li .wordbox {
  padding: 15px;
  color: #1C1F21;
  font-size: 14px;
}
.xxsw ul li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.common-style {
  height: 698px;
  padding-top: 40px;
}
.common-style .bd {
  padding-top: 32px;
}
.common-style .bd > ul > li {
  position: relative;
  float: left;
  background-color: white;
  margin-right: 32px;
  margin-bottom: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.common-style .bd > ul > li:nth-child(3),
.common-style .bd > ul > li:nth-child(7) {
  margin-right: 0;
}
.common-style .bd > ul > li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.common-style .bd > ul > li .tag {
  width: 74px;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 103px;
  z-index: 999;
}
.common-style .bd > ul .big-grid {
  position: relative;
  width: 560px;
  height: 270px;
}
.common-style .bd > ul .big-grid .info {
  position: absolute;
  width: 560px;
  height: 103px;
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  bottom: 0px;
  left: 0;
  padding: 30px 26px;
  box-sizing: border-box;
  line-height: 26px;
}
.common-style .bd > ul .pro-grid {
  width: 264px;
  height: 270px;
}
.common-style .bd > ul .pro-grid .picbox {
  position: relative;
  height: 184px;
}
.common-style .bd > ul .pro-grid .picbox .tag {
  bottom: 0;
}
.common-style .bd > ul .pro-grid .wordbox {
  padding: 14px;
  font-size: 14px;
  color: #1C1F21;
}
.jjzyx .bd .more-grid {
  background-image: linear-gradient(180deg, #34E3BC 0%, #15AF7A 98%);
}
.ddwl {
  background-color: #F7F7F7;
  height: 586px;
  padding-top: 40px;
}
.ddwl .hd nav {
  width: 349px;
}
.ddwl .bd {
  padding-top: 32px;
}
.ddwl .bd .col {
  float: left;
  width: 364px;
  height: 480px;
  margin-right: 30px;
}
.ddwl .bd .col:last-child {
  margin-right: 0;
}
.ddwl .bd .col .bigpicbox {
  width: 364px;
  height: 270px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.ddwl .bd .col .bigpicbox:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.ddwl .bd .col .bigpicbox .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 21px 17px 0;
  width: 364px;
  height: 104px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.53);
}
.ddwl .bd .col .bigpicbox .info .bottom {
  padding-top: 6px;
}
.ddwl .bd .col .bigpicbox .info .bottom .tag {
  float: left;
}
.ddwl .bd .col .bigpicbox .info .bottom .price {
  float: right;
}
.ddwl .bd .col .bigpicbox .info .bottom .price strong {
  color: #36DFBA;
}
.ddwl .bd .col .grid {
  width: 364px;
  height: 120px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.ddwl .bd .col .grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.ddwl .bd .col .grid .picbox {
  float: left;
  width: 120px;
  height: 120px;
}
.ddwl .bd .col .grid .wordbox {
  float: left;
  width: 244px;
  height: 120px;
  padding: 26px 18px 0;
  box-sizing: border-box;
  color: #1C1F21;
}
.ddwl .bd .col .more-grid {
  width: 364px;
  background-image: linear-gradient(180deg, #FF6374 1%, #FF7368 98%);
}
.ddwl .bd .col .more-grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.ddwl .bd .col .more-grid ul {
  padding-left: 24px;
}
.tsddty {
  height: 456px;
}
.tsddty .center-wrap {
  padding-top: 40px;
}
.tsddty .center-wrap .hd h2 {
  float: none;
  text-align: center;
}
.tsddty .bd {
  padding-top: 32px;
}
.tsddty .bd ul li {
  float: left;
  width: 264px;
  height: 290px;
  margin-right: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}
.tsddty .bd ul li:last-child {
  margin-right: 0;
}
.tsddty .bd ul li:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.tsddty .bd ul li .wordbox {
  padding: 16px 9px 0;
}
.tsddty .bd ul li .wordbox .proname {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  height: 48px;
}
.tsddty .bd ul li .wordbox .score {
  font-size: 13px;
  color: #FA6400;
}
.tsddty .bd ul li .wordbox .comment {
  font-size: 13px;
  color: #000000;
}
.zsjsdlx,
.gtbzzy {
  height: 738px;
  background-color: #F7F7F7;
}
.zsjsdlx .hd em,
.gtbzzy .hd em {
  width: 307px;
}
.zsjsdlx .hd nav,
.gtbzzy .hd nav {
  width: 85px;
}
.zsjsdlx .bd .more-grid,
.gtbzzy .bd .more-grid {
  background-image: linear-gradient(180deg, #BD5EE8 0%, #832ABB 98%);
}
.zsjsdlx .bd .more-grid ul,
.gtbzzy .bd .more-grid ul {
  padding-left: 50px;
}
.zsjsdlx .big-grid,
.gtbzzy .big-grid {
  position: relative;
}
.zsjsdlx .big-grid:hover .mask,
.gtbzzy .big-grid:hover .mask {
  opacity: 1;
}
.zsjsdlx .big-grid:hover .circle,
.gtbzzy .big-grid:hover .circle {
  top: 62px;
}
.zsjsdlx .big-grid:hover .word,
.gtbzzy .big-grid:hover .word {
  bottom: 30px;
}
.zsjsdlx .big-grid .mask,
.gtbzzy .big-grid .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.4s ease 0s;
  opacity: 0;
}
.zsjsdlx .big-grid .circle,
.gtbzzy .big-grid .circle {
  position: absolute;
  top: -106px;
  left: 50%;
  margin-left: -53px;
  width: 106px;
  height: 106px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  box-sizing: border-box;
  padding-top: 25px;
  font-size: 18px;
  transition: top 0.5s ease 0s;
}
.zsjsdlx .big-grid .circle p,
.gtbzzy .big-grid .circle p {
  text-align: center;
}
.zsjsdlx .big-grid .word,
.gtbzzy .big-grid .word {
  position: absolute;
  bottom: -100px;
  left: 10px;
  color: white;
  transition: bottom 0.5s ease 0s;
}
.gtbzzy .hd nav {
  width: 157px;
}
.gtbzzy .bd .more-grid {
  background-image: linear-gradient(180deg, #41D8E9 0%, #3685EA 98%);
}
.gtbzzy .bd .more-grid ul {
  padding-left: 70px;
}
footer .part1 {
  height: 220px;
  background-color: #f7f7f7;
}
footer .part1 nav ul {
  padding-top: 36px;
}
footer .part1 nav ul li {
  float: left;
  border-right: 1px solid #1C1F21;
  padding: 0 30px;
  height: 16px ;
  line-height: 16px;
}
footer .part1 nav ul li:last-child {
  padding-right: 0;
  border-right: none;
}
footer .part1 nav ul li:first-child {
  padding-left: 0;
}
footer .part1 nav ul li a {
  color: #1C1F21;
  font-size: 16px;
}
footer .part1 .dlbox {
  padding-top: 40px;
}
footer .part1 .dlbox dl {
  width: 289px;
  float: left;
  padding-left: 75px;
  margin-right: 30px;
  position: relative;
}
footer .part1 .dlbox dl:last-child {
  margin-right: 0;
}
footer .part1 .dlbox dl dt {
  font-weight: bold;
  margin-bottom: 10px;
}
footer .part1 .dlbox dl dd {
  font-size: 14px;
}
footer .part1 .dlbox dl::before {
  content: '';
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url(../images/icons.png);
}
footer .part1 .dlbox .txfw::before {
  background-position: -150px -178px;
}
footer .part1 .dlbox .ccsx::before {
  background-position: -150px -104px;
}
footer .part1 .dlbox .axph::before {
  background-position: -150px -31px;
}
footer .part2 {
  height: 225px;
  background-color: #1C1F21;
}
footer .part2 .r1 {
  padding-top: 48px;
  color: white;
}
footer .part2 .r1 h2 {
  float: left;
  font-size: 46px;
}
footer .part2 .r1 .slogan {
  float: left;
  width: 532px;
  font-size: 14px;
  margin-left: 21px;
  position: relative;
  top: 14px;
}
footer .part2 .links {
  padding-top: 30px;
}
footer .part2 .links li {
  float: left;
  border-right: 1px solid white;
  padding: 0 10px;
  font-size: 14px;
  line-height: 14px;
  height: 14px;
}
footer .part2 .links li:last-child {
  border-right: none;
}
footer .part2 .links li:first-child {
  padding-left: 0;
}
footer .part2 .links li a {
  color: white;
}
footer .copyrights {
  color: white;
  padding-top: 20px;
  font-size: 14px;
}
footer .copyrights a {
  color: white;
}
.backtotop {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 80px;
  height: 80px;
  background: #ccc;
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  color: #000;
  /* 隐藏元素 */
  display: none;
}
